{{define "acceuil"}}<!DOCTYPE html>
<html>
  <head>
    <title>Site Web statique</title>
    <link rel="stylesheet" href="/static/style.css">    
    <meta charset="UTF-8">
  </head>
  <body style="background-color:#393E46;" display="grid">
    <ul class="horizontal">
      <li class="nav-item active"><a href="/acceuil">Acceuil</a></li>
      <li class="nav-item active"><a href="/static/login.html">Se connecter</a></li>
      <li class="nav-item active"><a href="/static/index.html">S'inscrire</a></li>
      <li class="nav-item active"><a href="/account">Mon compte</a></li>
      <li class="nav-item active"><a href="/blog">Mes posts</a></li>
      <li class="nav-item active"><a href="/static/post.html">Ecrire un post</a></li>

    </ul>
    <h2>Tous les posts</h2>
    <div class="allposts">
      {{range .Posts}}
      <div>
	<h2>{{.Title}}</h2>
	<textarea id="story" name="titre" 
		  rows="20" cols="50">	
	  {{.Textpost}}
	</textarea>
      </div>
      {{else}}
      <div>
	<strong>no rows</strong>
      </div>
      {{end}}
    </div>
  </body>
</html>
{{end}}
