{{define "name"}}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{.Name}}</title>
    </head>
    <body>
        <article id="content">
            {{template "content" .}}
        </article>
    </body>
</html>
{{end}}

